
// HTML для футера

<footer>
    <div class="footer-container">
        <div class="logoFooter"><a href="index.html"><img class="imgLogo" src="../images/logo_color.svg" alt="Лого"></a></div>
        <nav class="footer-column" class="navFooter">
            <ul class="footer-items">
                <li class="footer-item"><a href="#">Главная</a></li>
                <li class="footer-item"><a href="#">Экскурсии</a></li>
                <li class="footer-item"><a href="#">Личный кабинет</a></li>
            </ul>
        </nav>
        <div class="footer-column" id="contactsFooter">
            <a href="#"><img class="imgContacts" src="../images/whatsapp.svg" alt="Контакт whatsapp">+7 964 944 18 74</a><br>
            <a href="#"><img img class="imgContacts" src="../images/telegram.svg" alt="Контакт telegram">+7 918 919 98 28</a><br>
            <a href="#"><img img class="imgContacts" src="../images/telegram2.svg" alt="Контакт телеграм-бот">Телеграм-бот PeroTravel</a><br>
        </div>
        <div class="footer-column" id="mediaFooter">   
            <a href="#"><img img class="imgContacts" src="../images/mail.svg" alt="Контакт email">office@perotravel.ru</a><br>
        </div> 
        <div class="media-container">
            <a href="#"><img src="../images/vk_color.svg" alt="Контакт vk"></a>
            <a href="#"><img src="../images/inst_color.svg" alt="Контакт instagram"></a>
            <a href="#"><img src="../images/facebook_color.svg" alt="Контакт facebook"></a>
        </div>
    </div>
</footer>


// CSS и медиазапросы для футера
footer {
    width: 100%;
    height: 173px;
    background-color: #EDEDED;
}

.footer-container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.logoFooter {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: fit-content;
    padding-left: 3rem;
}

nav.footer-column {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: start
}

#contactsFooter {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}


.footer-items {
    list-style: none;
    padding-left: 10px;
}

.footer-item {
    margin-top: 7px;
}

.footer-column a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
}

.imgContacts {
    padding-right: 5px;
}

#mediaFooter {
    justify-self: start;
    align-self: end;
    padding-bottom: 5px;
}

.media-container {
    height: 2.5rem;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: start;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .footer-column a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 440px) {
    
    footer {
        min-height: 400px;
        max-height: 415px;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45% 10% 30% auto;

        .logoFooter {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            padding: 0;
        }

        .media-container {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            justify-self: center;
        }

        nav.footer-column {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            justify-self: center;
            align-self: end;
        }
        
        #contactsFooter {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            justify-self: start;
            align-self: end;
        }

        #mediaFooter {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            justify-self: start;
            align-self: start;
        }

        .footer-items {
            margin: 0;
        }
    }
}



// Бургер HTML, вставляется в тот же контейнер, что и навигационный список ul

<div class="burger-menu">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <li><a href="#" class="menu-item">Главная</a></li>
                        <li><a href="#" class="menu-item">Экскурсии</a></li>
                        <li><a href="#" class="menu-item">Личный кабинет</a></li>
                    </ul>
                </div>


// Бургер CSS для основной страницы

.burger-menu {
    display: none;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 43px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: white;
}

.burger::before {
    top: 0;
    box-shadow: 0 10px 0 white;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger::before {
    top: 10px;
    transform: rotate(45deg);
    box-shadow: 0 8px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
    background: #FFC700;
}

.burger-checkbox:checked + .burger::after {
    bottom: 10px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
    background: #FFC700;
}

.menu-list {
    top: 40px;
    right: 0;
    position: absolute;
    display: grid;
    justify-content: center;
    justify-items: start;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    list-style-type: none;
    transform: translateX(100%);
    transition: .3s;
    width: 200px;
}

.menu-item {
    display: block;
    padding: 8px;
    color: black;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
}

.menu-item:hover {
    color: #FFC700;
}

.burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}



// в адаптиве 768px прописываем (в 440 можно уже не прописывать, само будет работать; повторно вставлять длинный css код сверху не нужно)
.burger-menu {
    display: block;
}