@import "_variables.scss";

body {
    width: 100%;
    box-sizing: border-box;
    background: $page-background;
    margin: 0 auto;
    font-family: $main-font;
    font-size: $main-font-size;
}

.top {
    max-width: 1120px;
    max-height: 21.6rem;
    margin: 50px auto;
    border-radius: 6px;
    box-shadow: 0 4px 24px -2px rgba(18, 22, 33, .1);
    background: #fff;
}

.nav-box {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav-cat"
                        "content-box";
    justify-items: center;
}

.nav-cat {
    grid-area: nav-cat;
    padding-top: 3rem;
        
    button:focus-within {
            border-bottom: 2px solid $primary-color;
            color: $primary-color;
            transition: color .3s ease;
        }
}

.nav-a, .nav-b, .nav-c, .nav-d {
    height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
    outline: none;
    background: #fff;
    border: 0;
    border-radius: 6px 6px 0 0;
    border-bottom: 2px solid #D4D4D4;
    font-size: 1.2rem;
    font-weight: $main-font-weight;
    text-transform: uppercase;
    color: rgb(40, 38, 42);
    cursor: pointer;
}

.content-box {
    grid-area: content-box;
    min-height: 12rem;
    width: 100%;
    border-radius: 0 0 6px 6px;
}

.nav-box:not(:focus-within) .nav-a {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
}

.nav-box:not(:focus-within) .content-box {
    display: block;
}

.nav-a:focus-within ~ .content-box {
    display: block;
}

.nav-b:focus-within ~ .content-box {
    display: block;
}

.nav-c:focus-within ~ .content-box {
    display: block;
}

.nav-d:focus-within ~ .content-box {
    display: block;
}

.form-top {
    min-height: 12rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    input, select {
        border: none;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        max-height: 4rem;
        min-height: 3rem;
        font-size: 1.2rem;
        border-radius: 0.8rem;
        max-width: 235px;
        min-width: 224px;
    }
}

input:focus, select:focus {
    outline: 0;
}

input {
    padding-left: 1rem;
}

.form-location {
    select {
        appearance: none;
        background: url(../images/all_tours/location_icon.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position-x: 95%;
        background-position-y: 50%;
        padding-left: 1rem;
    }
}

.form-people {
    select {
        appearance: none;
        background: url(../images/all_tours/people_icon.svg);
        background-repeat: no-repeat;
        background-size: 1.3rem;
        background-position-x: 95%;
        background-position-y: 50%;
        padding-left: 1rem;
    }
}

.form-date {
    input[type="date"]::-webkit-calendar-picker-indicator {
        box-sizing: border-box;
        background: url(..//images/all_tours/calendar_icon.svg);
        background-size: 1.3rem;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
    }

    input[type="date" i] {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
    }
}

.button-top {
    @include button($button-text-color, $button-color, $secondary-font-weight, $main-font-size);
    
    max-height: 4rem;
    min-height: 3rem;
    font-size: 1.2rem;
    max-width: 225px;
    min-width: 14rem;
    border-radius: 10px;
}

.tour {
    height: 303px;
    display: grid;
    grid-template-columns: 40% max-content max-content 3% 1fr;
    grid-template-rows: 10% 15% 7% 5% 40% 1fr;
    column-gap: 6px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.1);

    p {
        margin: 0;
        padding-right: 1rem;
    }
}

.tour-image {
    grid-column: 1 / 2;
    grid-row: span 6;
    margin-right: 30px;
    background-image: url(../images/all_tours/tour_image_2.svg);
    background-repeat: no-repeat;
    border-radius: 8px 0 0 8px;
    background-position: left;
}

.tour-type {
    padding-top: 15px;
    color: $subtitle-color;
    font-size: $main-font-size;
}

h3 {
    margin: 5px 0 10px 0;
    align-self: start;
    font-size: $secondary-font-size;
}

.tour-type {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}

h3 {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
}

.tour-info {
        color: $primary-color;
        font-size: $secondary-font-size;
        font-weight: $secondary-font-weight;
}

.price-adult, .price-child, #time {
    display: flex;
    flex-wrap: nowrap;
}

#time {
    grid-column: 5 / 6;
}

.tour-info-icon {
    height: $secondary-font-size;
    padding-right: 0.5rem;
    max-width: 1.8rem;
}

.description {
    grid-column: 2 / 6;
    grid-row: 5 / 6;
    align-self: center;
    padding-left: 2rem;
    background-image: url(../images/all_tours/border_line.svg);
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 50%;
}

.learn-more {
    @include button($button-text-color, $button-color, $secondary-font-weight, $main-font-size);
    max-height: 40px;
    min-height: 35px;
    max-width: 160px;
    min-width: 100px;
    padding-right: 15px;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}

.liked {
    display: inline-block;
    grid-column: 3 / 5;
    grid-row: 6 / 7;
    justify-self: end;
    padding-right: 20px;


    input[type="checkbox"] {
        appearance: none;
        height: 40px;
        width: 40px;
        background-image: url(../images/favorite_inactive.svg);
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-image: url(../images/favorite_active.svg);
    }
}

.pages {
    
    justify-self: center;

    input[type="radio"] {
        display: none;
    }

    label {
        text-align: center;
        font-size: 1rem;
    }

    input[type="radio"]:checked + label {
        color: $primary-color;
    }
}

h4 {
    font-size: 1.2rem;
    color: $primary-color;
    margin-top: 0;
}

.price-inputs {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px;
}

.price-input {
    border: 1px solid $button-border-color;
    border-radius: 20px;
    padding: 0.5rem 0.7rem;
    width: 30%;
    text-align: left;
    font-size: $main-font-size;
    color: #333;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 1.5rem;
    background-color: transparent;
    border-radius: 5px;
}

.slider-track {
    position: absolute;
    top: 50%;
    height: 0.3rem;
    background-color: $primary-color;
    border-radius: 5px;
    left: 20%;
    right: 20%;
    z-index: 1;
}

.slider-track::before, .slider-track::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 0.3rem;
    background-color: $button-border-color;
    border-radius: 5px;
    z-index: 1;
}

.slider-track::before {
    left: -20%;
    right: 100%;
}

.slider-track::after {
    left: 100%;
    right: -20%;
}

.slider-thumb {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary-color;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.thumb-left {
    left: 20%;
}

.thumb-right {
    right: 20%;
}

.tours {
    max-width: 1120px;
    margin: 0px auto;
    display: grid; 
    grid-template-columns: 30% 1fr;
    grid-template-rows: 5% repeat(4, 1fr) 5%;
    column-gap: 2.5rem;
    row-gap: 1rem;

    h2 {
        align-self: center;
        margin-top: 0;
        color: $primary-color;
        font-size: 2rem;
    }
}

.filters {
    height: fit-content;
    padding: 1.5rem 1.8rem;
    grid-column: 1 / 2;
    grid-row: span 6;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.1);

    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 1rem;

        .price-container, .people-selector, .location-options, .duration, .date {

            label {
                width: 100%;
                padding-top: 25px;
                padding-bottom: 25px;
                display: inline-block;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: $secondary-font-weight;
                background-image: url(../images/all_tours/plus_sign.svg);
                background-repeat: no-repeat;
                background-position-x: 95%;
                background-position-y: 50%;
            }
        
            // label:hover {
            //     color: #17C1BC;
            // }
        
            .content {
                border-bottom: 1px solid $background-color;
                overflow: hidden;
                padding-bottom: 25px;
        
                .more {
                    max-height: 0;
                    transition: max-height 0.3s ease;
                    overflow: hidden;
                }
            }
        
            input[type="checkbox"]:checked + label + .content .more {
                max-height: 260px;
            }
            
            input[type="checkbox"]:checked + label {
                background-image: url(../images/all_tours/minus_sign.svg);
                background-position-x: 97%;
                background-position-y: 55%;
            }
        }

        .people-selector {

            .buttons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.7rem;
                justify-items: center;
                
                input[type="radio"] {
                display: none;
            }
            
                label {
                display: inline-block;
                width: fit-content;
                padding: 0.5rem 1rem;
                border: 1px solid $button-border-color;
                background-image: none;
                border-radius: 20px;
                cursor: pointer;
                text-align: center;
                font-size: $main-font-size;
                font-weight: $main-font-weight;
                color: #333;
                transition: background-color 0.3s, color 0.3s;
            }
            
                input[type="radio"]:checked + label {
                background-color: $primary-color;
                color: white;
                border-color: $primary-color;
            }
            }
        }


        .location-options {
                
                .content {

                    .more {
                        
                        .locations-list {

                            input {
                                cursor: pointer; 
                                border: $button-border-color;
                            }
                
                            label {
                                width: fit-content;
                                position: relative;
                                padding: 0;
                                margin: 0 0 0 0.2rem;
                                line-height: 150%;
                                background-image: none;
                                font-size: $main-font-size;
                                font-weight: $main-font-weight;
                            }
                        }

                        }
                    }
                }
            
            

        .form-buttons {
            margin-top: 25px;
            justify-self: center;
        }

        .reset {
            margin-top: 10px;
            cursor: pointer;
            background-color: white;
            border: none;
            display: flex;
            align-items: flex-start;
            gap: 5px;
            justify-self: center;
        }
    }
}

@media screen and (max-width: 768px) {

    .top {
        max-width: 610px;
        min-width: 590px;
        max-height: 30rem;
        min-height: 300px;
        margin: 50px auto;

        .nav-box {
            max-width: 610px;
            min-width: 590px;
            max-height: 30rem;
            min-height: 300px;

            .nav-cat {
                padding-top: 2.5rem;
            }
        }

        .nav-a, .nav-b, .nav-c, .nav-d {
            font-size: 1rem;
        }

        .form-top {
            min-height: 210px;
            flex-wrap: wrap;
            align-content: center;
        }
    }  

    .tours {
        max-width: 610px;
        grid-template-columns: 1fr;
        grid-template-rows: 5% repeat(4, 1fr) 5% auto;
        row-gap: 40px;

        .filters {
            grid-row: 7 / 8;
            margin-top: 30px;

            form {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2.5rem;
            }
        }

        .tour {
            min-height: 400px;
            grid-template-columns: 35% max-content max-content 3% 1fr;

            .tour-image {
                margin-right: 20px;
                background-position: center;
            }

        }

        .pages {
            align-self: center;
        }
    }
}

@media screen and (max-width: 440px) {
    .top {
        max-width: 380px;
        min-width: 350px;
        max-height: 480px;
        min-height: 420px;
        margin: 50px auto;

        .nav-box {
            max-width: 380px;
            min-width: 350px;
            max-height: 30rem;
            min-height: 380px;
        }

        .nav-a, .nav-b, .nav-c, .nav-d {
            font-size: 0.7rem;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }

        .form-top {
            min-height: 340px;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            select, .button-top, #date {
                min-width: 290px;
            }
        }
    }  

    .tours {
        max-width: 380px;
        grid-template-columns: 1fr;
        grid-template-rows: 3% repeat(4, 1fr) 4% auto;
        row-gap: 40px;

        .filters {
            grid-row: 7 / 8;
            margin-top: 30px;

            form {
                grid-template-columns: 1fr;
            }
        }

        .tour {
            min-height: 650px;
            max-height: 680px;
            grid-template-columns: max-content max-content 1% 1fr;
            grid-template-rows: 35% 4% 9% 4% 3% 25% 1fr;

            .tour-image {
                grid-column: 1 / 5;
                grid-row: 1 / 2;
                margin-right: 0;
                margin-bottom: 20px;
                padding: 0;
                background-size: 380px auto;
                border-radius: 8px 8px 0 0;
                background-position-y: 70%;
            }

            .tour-type, h3, .price-adult, .ticket-adult {
                padding-left: 15px;
                padding-right: 15px;
            }
            .tour-type {
                grid-column: 1 / 5;
                grid-row: 2 / 3;
            }

            h3 {
                grid-column: 1 / 5;
                grid-row: 3 / 4;
            }

            .price-adult {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }

            .price-child {
                grid-column: 2 / 4;
                grid-row: 4 / 5;
            }

            #time {
                grid-column: 4 / 5;
                grid-row: 4 / 5;
            }

            .description {
                grid-column: 1 / 5;
                grid-row: 6 / 7;
                background-position-x: 4%;
                padding-right: 0.7rem;
            }

            .learn-more {
            grid-column: 1 / 4;
            grid-row: 7 / 8;
            margin-left: 15px;
            min-width: 220px;
            }

            .liked {
                grid-column: 4 / 5;
                grid-row: 7 / 8;
                justify-self: left;
            }
        }
    }
}

header {
    width: 100%;
    height: 289px;
    background-image: url(../images/header_background_all_tours.svg);
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 40px; 
}
.logoHeader {
    width: 40px;
    padding-left: 20px;
}

.list {
    display: flex;
    list-style: none;
}

.list a {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px; 
    text-decoration: none; 
    margin-left: 20px;
}

.titleHeader h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    padding-left: 60px;
    margin: 0;
}

footer {
    width: 100%;
    height: 173px;
    background-color: #EDEDED;
}

.footer-container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 25% 25%;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 60px;
}

.imgLogo {
    justify-self: center;
}

.footer-items {
    list-style: none;
}

.footer-item {
    margin-top: 7px;
}

.footer-column a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.imgContacts {
    padding-right: 10px;
}

.media-container {
    height: 4rem;
    display: flex;
    align-items: center;
}
