body {
  width: 100%;
  box-sizing: border-box;
  background: #fbfbfb;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1 1 auto;
  height: 100%;
  margin-bottom: 40px;
}

.top {
  max-width: 1120px;
  max-height: 21.6rem;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.1);
  background: #fff;
}

.nav-box {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav-cat" "content-box";
  justify-items: center;
}

.nav-cat {
  grid-area: nav-cat;
  padding-top: 3rem;
}
.nav-cat button:focus-within {
  border-bottom: 2px solid #0499dd;
  color: #0499dd;
  transition: color 0.3s ease;
}

.nav-a, .nav-b, .nav-c, .nav-d {
  height: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  outline: none;
  background: #fff;
  border: 0;
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid #D4D4D4;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(40, 38, 42);
  cursor: pointer;
}

.content-box {
  grid-area: content-box;
  min-height: 12rem;
  width: 100%;
  border-radius: 0 0 6px 6px;
}

.nav-box:not(:focus-within) .nav-a {
  border-bottom: 1px solid #0499dd;
  color: #0499dd;
}

.nav-box:not(:focus-within) .content-box {
  display: block;
}

.nav-a:focus-within ~ .content-box {
  display: block;
}

.nav-b:focus-within ~ .content-box {
  display: block;
}

.nav-c:focus-within ~ .content-box {
  display: block;
}

.nav-d:focus-within ~ .content-box {
  display: block;
}

.form-top {
  min-height: 12rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.form-top input, .form-top select {
  border: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 4rem;
  min-height: 3rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  max-width: 235px;
  min-width: 224px;
}

input:focus, select:focus {
  outline: 0;
}

input {
  padding-left: 1rem;
}

.form-location select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/all_tours/location_icon.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position-x: 95%;
  background-position-y: 50%;
  padding-left: 1rem;
}

.form-people select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/all_tours/people_icon.svg);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position-x: 95%;
  background-position-y: 50%;
  padding-left: 1rem;
}

.form-date input[type=date]::-webkit-calendar-picker-indicator {
  box-sizing: border-box;
  background: url(..//images/all_tours/calendar_icon.svg);
  background-size: 1.3rem;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
.form-date input[type=date i] {
  padding-inline-start: 0.2rem;
  padding-inline-end: 0.2rem;
}

.button-top {
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  max-height: 4rem;
  min-height: 3rem;
  font-size: 1.2rem;
  max-width: 225px;
  min-width: 14rem;
  border-radius: 10px;
}
.button-top:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.button-top a {
  text-decoration: none;
  color: white;
}
.button-top a:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.tour {
  height: 303px;
  display: grid;
  grid-template-columns: 40% max-content max-content 3% 1fr;
  grid-template-rows: 10% 15% 7% 5% 40% 1fr;
  -moz-column-gap: 6px;
       column-gap: 6px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.1);
}
.tour p {
  margin: 0;
  padding-right: 1rem;
}

.tour-image {
  grid-column: 1/2;
  grid-row: span 6;
  margin-right: 30px;
  background-image: url(../images/all_tours/tour_image_2.svg);
  background-repeat: no-repeat;
  border-radius: 8px 0 0 8px;
  background-position: left;
}

.tour-type {
  padding-top: 15px;
  color: #ffc700;
  font-size: 12px;
}

h3 {
  margin: 5px 0 10px 0;
  align-self: start;
  font-size: 18px;
}

.tour-type {
  grid-column: 2/6;
  grid-row: 1/2;
}

h3 {
  grid-column: 2/6;
  grid-row: 2/3;
}

.tour-info {
  color: #0499dd;
  font-size: 18px;
  font-weight: 700;
}

.price-adult, .price-child, #time {
  display: flex;
  flex-wrap: nowrap;
}

#time {
  grid-column: 5/6;
}

.tour-info-icon {
  height: 18px;
  padding-right: 0.5rem;
  max-width: 1.8rem;
}

.description {
  grid-column: 2/6;
  grid-row: 5/6;
  align-self: center;
  padding-left: 2rem;
  background-image: url(../images/all_tours/border_line.svg);
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 50%;
}

.learn-more {
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  max-height: 40px;
  min-height: 35px;
  max-width: 160px;
  min-width: 100px;
  padding-right: 15px;
  grid-column: 2/4;
  grid-row: 6/7;
}
.learn-more:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.learn-more a {
  text-decoration: none;
  color: white;
}
.learn-more a:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.liked {
  display: inline-block;
  grid-column: 3/5;
  grid-row: 6/7;
  justify-self: end;
  padding-right: 40px;
}
.liked input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  width: 40px;
  background-image: url(../images/favorite_inactive.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.liked input[type=checkbox]:checked {
  background-image: url(../images/favorite_active.svg);
}

.pages {
  justify-self: center;
}
.pages input[type=radio] {
  display: none;
}
.pages label {
  text-align: center;
  font-size: 1rem;
}
.pages input[type=radio]:checked + label {
  color: #0499dd;
}

h4 {
  font-size: 1.2rem;
  color: #0499dd;
  margin-top: 0;
}

.price-inputs {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 20px;
}

.price-input {
  border: 1px solid #d4d4d4;
  border-radius: 20px;
  padding: 0.5rem 0.7rem;
  width: 30%;
  text-align: left;
  font-size: 12px;
  color: #333;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 5px;
}

.slider-track {
  position: absolute;
  top: 50%;
  height: 0.3rem;
  background-color: #0499dd;
  border-radius: 5px;
  left: 20%;
  right: 20%;
  z-index: 1;
}

.slider-track::before, .slider-track::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 0.3rem;
  background-color: #d4d4d4;
  border-radius: 5px;
  z-index: 1;
}

.slider-track::before {
  left: -20%;
  right: 100%;
}

.slider-track::after {
  left: 100%;
  right: -20%;
}

.slider-thumb {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: #0499dd;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.thumb-left {
  left: 20%;
}

.thumb-right {
  right: 20%;
}

.tours {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 5% repeat(4, 1fr) 5%;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  row-gap: 1rem;
}
.tours h2 {
  align-self: center;
  margin-top: 0;
  color: #0499dd;
  font-size: 2rem;
}

.filters {
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5rem 1.8rem;
  grid-column: 1/2;
  grid-row: span 6;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 24px -2px rgba(18, 22, 33, 0.1);
}
.filters form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
}
.filters form .price-container label, .filters form .people-selector label, .filters form .location-options label, .filters form .duration label, .filters form .date label {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  background-image: url(../images/all_tours/plus_sign.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
.filters form .price-container .content, .filters form .people-selector .content, .filters form .location-options .content, .filters form .duration .content, .filters form .date .content {
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  padding-bottom: 25px;
}
.filters form .price-container .content .more, .filters form .people-selector .content .more, .filters form .location-options .content .more, .filters form .duration .content .more, .filters form .date .content .more {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.filters form .price-container input[type=checkbox]:checked + label + .content .more, .filters form .people-selector input[type=checkbox]:checked + label + .content .more, .filters form .location-options input[type=checkbox]:checked + label + .content .more, .filters form .duration input[type=checkbox]:checked + label + .content .more, .filters form .date input[type=checkbox]:checked + label + .content .more {
  max-height: 260px;
}
.filters form .price-container input[type=checkbox]:checked + label, .filters form .people-selector input[type=checkbox]:checked + label, .filters form .location-options input[type=checkbox]:checked + label, .filters form .duration input[type=checkbox]:checked + label, .filters form .date input[type=checkbox]:checked + label {
  background-image: url(../images/all_tours/minus_sign.svg);
  background-position-x: 97%;
  background-position-y: 55%;
}
.filters form .people-selector .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
  justify-items: center;
}
.filters form .people-selector .buttons input[type=radio] {
  display: none;
}
.filters form .people-selector .buttons label {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid #d4d4d4;
  background-image: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}
.filters form .people-selector .buttons input[type=radio]:checked + label {
  background-color: #0499dd;
  color: white;
  border-color: #0499dd;
}
.filters form .location-options .content .more .locations-list input {
  cursor: pointer;
  border: #d4d4d4;
}
.filters form .location-options .content .more .locations-list label {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 0;
  margin: 0 0 0 0.2rem;
  line-height: 150%;
  background-image: none;
  font-size: 12px;
  font-weight: 500;
}
.filters form .form-buttons {
  margin-top: 25px;
  justify-self: center;
}
.filters form .reset {
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  border: none;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .top {
    max-width: 610px;
    min-width: 590px;
    max-height: 30rem;
    min-height: 300px;
    margin: 50px auto;
  }
  .top .nav-box {
    max-width: 610px;
    min-width: 590px;
    max-height: 30rem;
    min-height: 300px;
  }
  .top .nav-box .nav-cat {
    padding-top: 2.5rem;
  }
  .top .nav-a, .top .nav-b, .top .nav-c, .top .nav-d {
    font-size: 1rem;
  }
  .top .form-top {
    min-height: 210px;
    flex-wrap: wrap;
    align-content: center;
  }
  .tours {
    max-width: 610px;
    grid-template-columns: 1fr;
    grid-template-rows: 5% repeat(4, 1fr) 5% auto;
    row-gap: 40px;
    margin-bottom: 20rem;
  }
  .tours .filters {
    grid-row: 7/8;
    margin-top: 30px;
  }
  .tours .filters form {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .tours .tour {
    min-height: 400px;
    grid-template-columns: 35% max-content max-content 3% 1fr;
  }
  .tours .tour .tour-image {
    margin-right: 20px;
    background-position: center;
  }
  .tours .pages {
    align-self: center;
  }
}
@media screen and (max-width: 440px) {
  .top {
    max-width: 380px;
    min-width: 350px;
    max-height: 480px;
    min-height: 420px;
    margin: 50px auto;
  }
  .top .nav-box {
    max-width: 380px;
    min-width: 350px;
    max-height: 30rem;
    min-height: 380px;
  }
  .top .nav-a, .top .nav-b, .top .nav-c, .top .nav-d {
    font-size: 0.7rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .top .form-top {
    min-height: 340px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .top .form-top select, .top .form-top .button-top, .top .form-top #date {
    min-width: 290px;
  }
  .tours {
    max-width: 380px;
    grid-template-columns: 1fr;
    grid-template-rows: 3% repeat(4, 1fr) 4% auto;
    row-gap: 40px;
  }
  .tours .filters {
    grid-row: 7/8;
    margin-top: 30px;
  }
  .tours .filters form {
    grid-template-columns: 1fr;
  }
  .tours .tour {
    min-height: 650px;
    max-height: 680px;
    grid-template-columns: max-content max-content 1% 1fr;
    grid-template-rows: 35% 4% 9% 4% 3% 25% 1fr;
  }
  .tours .tour .tour-image {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0;
    background-size: 380px auto;
    border-radius: 8px 8px 0 0;
    background-position-y: 70%;
  }
  .tours .tour .tour-type, .tours .tour h3, .tours .tour .price-adult, .tours .tour .ticket-adult {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tours .tour .tour-type {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .tours .tour h3 {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .tours .tour .price-adult {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .tours .tour .price-child {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .tours .tour #time {
    grid-column: 4/5;
    grid-row: 4/5;
  }
  .tours .tour .description {
    grid-column: 1/5;
    grid-row: 6/7;
    background-position-x: 4%;
    padding-right: 0.7rem;
  }
  .tours .tour .learn-more {
    grid-column: 1/4;
    grid-row: 7/8;
    margin-left: 15px;
    min-width: 220px;
  }
  .tours .tour .liked {
    grid-column: 4/5;
    grid-row: 7/8;
    justify-self: left;
  }
}
header {
  width: 100%;
  height: 289px;
  background-image: url(..//images/all_tours/header_adaptive.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logoHeader {
  width: 40px;
  padding-left: 20px;
}

.list {
  display: flex;
  list-style: none;
}

.list a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-left: 20px;
}

.titleHeader h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  padding-left: 60px;
  margin: 0;
}

footer {
  width: 100%;
  height: 173px;
  background-color: #EDEDED;
}

.footer-container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.logoFooter {
  grid-column: 1/2;
  grid-row: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 3rem;
}

nav.footer-column {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: start;
}

#contactsFooter {
  grid-column: 3/4;
  grid-row: 1/3;
}

.footer-items {
  list-style: none;
  padding-left: 10px;
}

.footer-item {
  margin-top: 7px;
}

.footer-column a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.imgContacts {
  padding-right: 5px;
}

#mediaFooter {
  justify-self: start;
  align-self: end;
  padding-bottom: 5px;
}

.media-container {
  height: 2.5rem;
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: start;
  align-self: start;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-column a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 440px) {
  footer {
    min-height: 400px;
    max-height: 415px;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 45% 10% 30% auto;
  }
  .footer-container .logoFooter {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0;
  }
  .footer-container .media-container {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
  }
  .footer-container nav.footer-column {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
  }
  .footer-container #contactsFooter {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: start;
    align-self: end;
  }
  .footer-container #mediaFooter {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: start;
    align-self: start;
  }
  .footer-container .footer-items {
    margin: 0;
  }
}/*# sourceMappingURL=all_tours_style.css.map */