* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  margin-bottom: 100px;
  background-image: url(../images/header_background_main.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header-container {
  height: 910px;
  display: grid;
  grid-template-columns: 160px min-content 3% 25% auto;
  grid-template-rows: 25% min-content 3% auto repeat(2, 1fr);
  justify-items: start;
}

.logoHeader {
  margin: 0;
  width: fit-content;
  height: fit-content;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: center;
}

.burger-menu {
  display: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 43px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: white;
}

.burger::before {
  top: 0;
  box-shadow: 0 10px 0 white;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 10px;
  transform: rotate(45deg);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  background: #ffc700;
}

.burger-checkbox:checked + .burger::after {
  bottom: 10px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
  background: #ffc700;
}

.menu-list {
  top: 40px;
  right: 0;
  position: absolute;
  display: grid;
  justify-content: center;
  justify-items: start;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  list-style-type: none;
  transform: translateX(100%);
  transition: 0.3s;
  width: 200px;
}

.menu-item {
  display: block;
  padding: 8px;
  color: black;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
}

.menu-item:hover {
  color: #ffc700;
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.navHeader {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: center;
}

.header-item {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 40px;
}

.header-items a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
}

.header-items a:hover {
  color: #0499dd;
}

.header-items a:active {
  color: #ffc700;
}

.subtitleHeader {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: end;
}

.subtitleHeader > h2 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.subtitleHeader2 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: end;
}

.subtitleHeader2 > h4 {
  color: #ffc700;
  font-family: "Great Vibes", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 1;
}

.titleHeader {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  margin: 2.5rem 0;
}

.subtitleHeader,
.subtitleHeader2,
.titleHeader,
h1 {
  margin: 0;
}

@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica-neue-bold.eot);
}

h1 {
  font-size: 8rem;
  font-family: "Helvetica", sans-serif;
  color: transparent;
  -webkit-text-stroke: 2px white;
  paint-order: stroke fill;
}

.header-btn {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  justify-self: start;
  align-self: center;
  height: 50px;
  width: 230px;
  max-width: 250px;
  font-size: 1.1rem;
}

.contactsHeader {
  padding-top: 20px;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  justify-self: start;
  display: flex;
  flex-direction: column;
}

.videoBanner {
  grid-column: 3 / 6;
  grid-row: 6 / 7;
  justify-self: start;
  overflow: hidden;
}

.videos {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 360px;
  column-gap: 20px;
  animation: scroll 70s linear infinite;
}

@keyframes scroll {
  to {
    translate: calc(-4 * 360px);
  }
}

.container {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container_excursions {
  display: grid;
  /* flex-direction: column; */
  gap: 3rem;
}

.container_excursions-head,
.gallery_head,
.feedback_head {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #0499dd;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  grid-column: 1/3;
}

p {
  grid-column: 8/9;
}

.container_excursions-cards {
  gap: 3.5rem;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 320px;
  animation: scroll 55s linear infinite;
}

@keyframes scroll {
  to {
    translate: calc(-4 * 320px);
  }
}

.container_wrapper {
  overflow: hidden;
}

.card-body,
.card1,
.card2 {
  max-width: 320px;
  color: white;
  gap: 5px;
}

.card1 {
  background-image: url(../images/index/1.svg);
  background-repeat: no-repeat;
  min-height: 600px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

h4 {
  color: #ffc700;
  font-size: 14px;
}

.card2 {
  background-image: url(../images/index/2.svg);
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.card3 {
  background-image: url(../images/index/3.svg);
  background-repeat: no-repeat;
  min-height: 600px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.card4 {
  background-image: url(../images/index/4.svg);
  background-repeat: no-repeat;
  min-height: 600px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

button {
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  border-radius: 3.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 12px;
}

button > a {
  text-decoration: none;
  color: white;
}

button > a:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.aboutUs_text-textExtra {
  display: none;
}

.aboutUs {
  display: grid;
  grid-template-rows: 20% 50% 30%;
  grid-template-columns: 60% 30% 10%;
  padding: 25px;
}

.aboutUs_text {
  background-color: #ededed;
  border-radius: 10px;
  grid-row: 2/3;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
}

.link {
  color: rgb(0, 0, 0);
}

.aboutUs_img {
  grid-column: 1/3;
}

.aboutUs_picture {
  position: relative;
  z-index: -1;
  right: 5rem;
}

.aboutUs_text-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 15% 10% 10% 40% 25%;
}

h2 {
  font-size: 24px;
  color: #0499dd;
  grid-row: 2/3;
}

.aboutUs_text-text {
  grid-row: 4/5;
  font-weight: 500;
}

.excursionsTypes_cards,
.feedback_cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
}

.feedback_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  max-width: 1200px;
}

.card_img {
  grid-column: 1/2;
}

.cards-text {
  grid-column: 2/3;
}

.cards-text > h4 {
  color: black;
}

.excursionsTypes {
  display: grid;
  grid-template-rows: 10% 70% 20%;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.excursionsTypes_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.excursionsTypes_cards-bus {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 23% 77%;
}

.excursionsTypes_cards-jeep {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 23% 77%;
}

.excursionsTypes_cards-yacht {
  display: grid;
  grid-template-columns: 23% 77%;
}

.excursionsTypes_cards-canyon {
  display: grid;
  grid-template-columns: 23% 77%;
}

.gallery,
.feedback {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.gallery {
  max-width: 1409px;
}

.gallery_img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50% repeat(2, 1fr);
  gap: 15px;
  max-width: 80rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.img-2 {
  grid-column: 3/4;
  grid-row: 1/4;
}

.img-3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.img-4 {
  grid-column: 5/6;
  grid-row: 1/2;
}

.img-5 {
  grid-column: 1/2;
  grid-row: 2/4;
}

.img-6 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.img-7 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.img-8 {
  grid-column: 4/6;
  grid-row: 2/4;
}

.aboutUs_img2,
.aboutUs_img3 {
  display: none;
}

.container_feedback {
  overflow: hidden;
}

.feedback_cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 740px;
  animation: scroll 35s linear infinite;
}

@keyframes scroll {
  to {
    translate: calc(-2 * 740px);
  }
}

.feedback_card1,
.feedback_card2 {
  background-color: #ededed;
  border-radius: 10px;
  display: grid;
  width: 740px;
  grid-template-columns: 45% 55%;
}

.img-leftRight-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerForm {
  background: url("../images/form_background_main.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 160px;
  width: 100%;
  height: 640px;
  display: grid;
  grid-template-columns: 40% 60% auto;
}

.questionForm {
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.table {
  width: 560px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 8rem;
}

label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

form {
  margin: 0;
}

.form-group {
  padding-bottom: 30px;
}

.footerForm h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.footerForm h5 {
  color: #ffc700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

.footerForm-btn {
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self: start;
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  max-height: 40px;
  min-height: 3rem;
  font-size: 1.2rem;
  max-width: 225px;
  min-width: 14rem;
  border-radius: 40px;
  margin-right: 15px;
}

footer {
  width: 100%;
  height: 173px;
  background-color: #ededed;
}

.footer-container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.logoFooter {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: fit-content;
  padding-left: 3rem;
}

nav.footer-column {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: start;
}

#contactsFooter {
  margin: 0;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.footer-items {
  list-style: none;
  padding-left: 10px;
}

.footer-item {
  margin-top: 7px;
}

.footer-column a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.imgContacts {
  padding-right: 5px;
}

#mediaFooter {
  margin: 0;
  justify-self: start;
  align-self: end;
  padding-bottom: 5px;
}

.media-container {
  margin: 0;
  height: 2.5rem;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: start;
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  height: 173px;
  background-color: #ededed;
}

.footer-container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.logoFooter {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: fit-content;
  padding-left: 3rem;
}

nav.footer-column {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: start;
}

#contactsFooter {
  margin: 0;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.footer-items {
  list-style: none;
  padding-left: 10px;
}

.footer-item {
  margin-top: 7px;
}

.footer-column a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.imgContacts {
  padding-right: 5px;
}

#mediaFooter {
  margin: 0;
  justify-self: start;
  align-self: end;
  padding-bottom: 5px;
}

.media-container {
  margin: 0;
  height: 2.5rem;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  justify-self: start;
  align-self: start;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    max-width: 768px;
    min-height: 1000px;
    max-height: 1115px;
    margin-bottom: 100px;
    background-image: url(../images/index/header_background_tablet.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header-container {
    height: 1115px;
    display: grid;
    grid-template-columns: 80px min-content 5% 25% auto;
    grid-template-rows: 30% min-content 2% auto 2fr 1fr;
    justify-items: start;
  }

  .logoHeader,
  .navHeader {
    align-self: baseline;
    padding-top: 30px;
  }

  .header-item {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .subtitleHeader > h2 {
    font-size: 3rem;
  }

  .subtitleHeader2 > h4 {
    font-size: 2rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 1;
  }

  .contactsHeader {
    margin: 0;
    grid-column: 4 / 5;
    justify-self: end;
  }

  .banner-video > img {
    max-width: 250px;
    height: auto;
  }

  .videos {
    grid-auto-columns: 250px;
    column-gap: 20px;
    animation: scroll 70s linear infinite;
  }

  @keyframes scroll {
    to {
      translate: calc(-4 * 250px);
    }
  }

  .container_excursions,
  .aboutUs,
  .aboutUs_img,
  .feedback {
    max-width: 768px;
  }

  .container_excursions-head,
  .gallery_head,
  .feedback_head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .container_excursions-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 15%;
    gap: 3.5rem;
  }

  h3 {
    grid-column: 1/2;
  }

  .container_excursions-head > p {
    margin: 0;
    grid-column: 2 / 3;
    justify-self: end;
  }

  .img-leftRight-container {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .excursionsTypes {
    max-width: 610px;
  }

  .excursionsTypes_cards {
    display: flex;
    flex-direction: column;
  }

  /* .aboutUs_picture {
        position: relative;
        z-index: -1;
        right: 10rem;
        width: 90%;
    } */

  .aboutUs {
    display: grid;
    grid-template-columns: 25% 60% 25%;
  }

  .aboutUs_img,
  .aboutUs_img3 {
    display: none;
  }

  .aboutUs_img2 {
    display: inline;
  }

  .aboutUs_text {
    max-width: 493px;
    max-height: 433px;
  }

  .aboutUs_text-text {
    display: none;
  }

  .aboutUs_text-textExtra {
    font-size: 0.6rem;
    display: inline;
    grid-row: 4/5;
    font-weight: 500;
  }

  .gallery_img {
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    max-width: 768px;
  }

  .img-2 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .img-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .img-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .img-8 {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .img-1,
  .img-5,
  .img-6,
  .img-7 {
    display: none;
  }

  .feedback_cards-card {
    grid-template-columns: 35% 65%;
    gap: 30px;
    padding: 20px;
  }

  .feedback_card1,
  .feedback_card2 {
    width: 500px;
    height: 250px;
  }

  .feedback_cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 500px;
    animation: scroll 35s linear infinite;
  }

  @keyframes scroll {
    to {
      translate: calc(-2 * 500px);
    }
  }

  .card_img {
    width: 10rem;
  }
  .media-container {
    column-gap: 15px;
  }

  .questionForm {
    margin: 0;
    width: 400px;
    grid-column: 2/3;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
  }

  .table {
    margin: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 4rem;
  }

  label {
    font-size: 0.9rem;
  }

  .footerForm h4 {
    font-size: 1.5rem;
  }

  .footerForm h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 440px) {
  header {
    max-width: 440px;
    min-height: 900px;
    max-height: 1115px;
    margin-bottom: 100px;
    background-image: url(..//images/index/header_mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header-container {
    height: 1115px;
    display: grid;
    grid-template-columns: 20px 270px 5% 25% auto;
    grid-template-rows: 20% min-content 2% auto repeat(3, 1fr);
    justify-items: start;
  }

  .subtitleHeader > h2 {
    font-size: 2rem;
  }

  .subtitleHeader2 > h4 {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
  }

  .contactsHeader {
    grid-row: 6 / 7;
    justify-self: end;
  }

  .videoBanner {
    grid-column: 2 / 4;
    grid-row: 7 / 8;
  }

  .banner-video > img {
    max-width: 200px;
    height: auto;
  }

  .videos {
    grid-auto-columns: 200px;
    column-gap: 15px;
    animation: scroll 70s linear infinite;
  }

  @keyframes scroll {
    to {
      translate: calc(-4 * 200px);
    }
  }

  .header-btn {
    min-width: fit-content;
    max-width: 230px;
  }

  .header-btn > a {
    font-size: 1rem;
  }

  .container_excursions,
  .aboutUs,
  .aboutUs_img,
  .feedback {
    max-width: 440px;
  }

  .excursionsTypes,
  .gallery {
    max-width: 380px;
  }

  .container_excursions-head > p {
    display: none;
  }

  .container_excursions-cards {
    display: grid;
    grid-template-columns: 1fr 25%;
    gap: 3.5rem;
  }

  .img-leftRight-container {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .aboutUs {
    grid-template-columns: 5% 80% 15%;
    grid-template-rows: 15% 35% 50%;
  }

  .aboutUs_img,
  .aboutUs_img2 {
    display: none;
  }

  .aboutUs_img3 {
    display: inline;
  }

  .aboutUs_text {
    max-width: 380px;
    max-height: 386px;
  }

  .aboutUs_text-text {
    display: none;
  }

  .aboutUs_text-textExtra {
    font-size: 0.6rem;
    display: inline;
    grid-row: 4/5;
    font-weight: 500;
  }

  /* .aboutUs_picture { */
  /* position: relative;
        z-index: -1;
        right: 25rem;
    } */

  .excursionsTypes_cards-bus,
  .excursionsTypes_cards-jeep,
  .excursionsTypes_cards-yacht,
  .excursionsTypes_cards-canyon {
    grid-template-columns: 30% 70%;
  }

  .feedback_cards-card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
  }

  .container_feedback {
    max-height: 450px;
  }

  .feedback_card1,
  .feedback_card2 {
    width: 280px;
    height: 450px;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr;
    padding: 20px;
    align-items: start;
  }

  .card_img {
    margin: 0;
    justify-self: start;
    max-width: 80px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .feedback_card1,
  .feedback_card2 > .cards-text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 0.9rem;
  }

  .feedback_cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    animation: scroll 35s linear infinite;
  }

  @keyframes scroll {
    to {
      translate: calc(-2 * 280px);
    }
  }

  .footerForm {
    height: 928px;
    grid-template-columns: 1fr;
    justify-items: center;
    background-position-x: 40%;
  }

  .questionForm {
    padding-top: 15px;
    grid-column: 1 / 2;
    background-color: none;
    backdrop-filter: none;
  }

  .table {
    padding-left: 4rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
  }

  label {
    font-size: 0.9rem;
  }

  .footerForm h4 {
    font-size: 1.5rem;
  }

  .footerForm h5 {
    font-size: 1rem;
  }

  footer {
    min-height: 400px;
    max-height: 415px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 45% 10% 30% auto;
  }

  .logoFooter {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 0;
  }

  .media-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
  }

  nav.footer-column {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: end;
  }

  #contactsFooter {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: end;
  }

  #mediaFooter {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: start;
    align-self: start;
  }

  .footer-items {
    margin: 0;
  }
}

.footerForm {
  background: url("../images/form_background_main.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 160px;
  width: 1440px;
  height: 640px;
  display: grid;
  grid-template-columns: 40% 60% auto;
}

.questionForm {
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.table {
  width: 560px;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.form-group {
  padding-bottom: 30px;
}

.footerForm h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding-left: 170px;
}

.footerForm h5 {
  color: #ffc700;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-left: 170px;
}

.footerForm-btn {
  grid-column: 1/2;
  grid-row: 5/6;
  justify-self: start;
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  max-height: 40px;
  min-height: 3rem;
  font-size: 1.2rem;
  max-width: 225px;
  min-width: 14rem;
  border-radius: 40px;
  margin-right: 15px;
}

nav a.active {
  color: #ffc700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  margin-left: 20px;
}
