@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $main-font;
  font-weight: $main-font-weight;
  font-size: 14px;
}
@mixin for-title {
  font-weight: $secondary-font-weight;
  font-size: 1.71rem;
}
@mixin for-text {
  font-weight: $main-font-weight;
  font-size: 1rem;
}
@mixin ticket-card {
  width: 12rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.71rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@mixin icon-background {
  background-color: $subtitle-color;
  position: absolute;
  top: -1.1rem;
  left: -1.1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  z-index: 0;
}

header {
  padding: 0 6rem;
  background-image: url(../images/tour_overview/изобр.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-bottom: 10rem;
}

.header-container2 {
  display: flex;
  justify-content: flex-start;
  padding: 60px;
  padding-bottom: 12rem;
}

.burger-menu {
  display: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 43px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background: white;
}

.burger::before {
  top: 0;
  box-shadow: 0 10px 0 white;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 10px;
  transform: rotate(45deg);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  background: #ffc700;
}

.burger-checkbox:checked + .burger::after {
  bottom: 10px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
  background: #ffc700;
}

.menu-list {
  top: 40px;
  right: 0;
  position: absolute;
  display: grid;
  justify-content: center;
  justify-items: start;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  list-style-type: none;
  transform: translateX(100%);
  transition: 0.3s;
  width: 200px;
}

.menu-item {
  display: block;
  padding: 8px;
  color: black;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
}

.menu-item:hover {
  color: #ffc700;
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.logoHeader {
  width: 40px;
  padding-left: 20px;
}

.list {
  display: flex;
  list-style: none;
}

.list a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-left: 20px;
}

header .header_title h4 {
  font-weight: 700;
  font-size: 1.71rem;
  color: #ffc700;
  padding-left: 60px;
  padding-bottom: 1rem;
  margin: 0;
}
header .header_title h1 {
  font-weight: 700;
  font-size: 3.43rem;
  color: white;
  padding-left: 60px;
  margin: 0;
}

.header_btn {
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  //display: inline-block; //Убрала, поставила flex - легче центрировать
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; //Добавила padding
  font-weight: 700;
  //font-size: 12px;
  cursor: pointer;
  max-height: 40px;
  min-height: 3rem;
  font-size: 1rem;
  max-width: 225px;
  min-width: 14rem;
  border-radius: 40px;
  margin-right: 15px;
}

header .header_btn:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
header .header_btn a {
  text-decoration: none;
  color: white;
}
header .header_btn a:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
header .header_btn a {
  text-decoration: none;
}

.liked input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  width: 40px;
  background-image: url(../images/favorite_inactive.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.liked input[type="checkbox"]:checked {
  background-image: url(../images/favorite_active.svg);
}

main {
  .main_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 6rem;
    .main_description_excursion {
      width: 30%;
      h3 {
        @include for-title;
        color: $primary-color;
        padding-bottom: 1rem;
      }
      p {
        font-weight: $main-font-weight;
        font-size: 1rem;
      }
    }
    .main_description_card-wrapper {
      position: relative;
      .icon-background {
        @include icon-background;
      }
      .ticket-card {
        @include ticket-card;
      }

      .content {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem 0;
        .icon {
          height: 1.8rem;
          width: 2rem;
        }
        .text {
          .price {
            @include for-title;
            color: $primary-color;
          }
        }
      }
    }
  }
  .main_calendary-block {
    display: flex;
    padding: 6rem 0;
    padding-right: 6rem;
    justify-content: flex-end;
    background-image: url(../images/tour_overview/img-calendar.svg);
    background-repeat: no-repeat;
    .calendary-block_calendar {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      .calendar_title {
        @include for-title;
        font-size: 1.4rem;
        color: $primary-color;
        margin-bottom: 5rem;
      }
      .calendar_wrapper {
        width: 41rem;
        height: 33.57rem;
        background-color: $background-color;
        padding: 2rem;
        border-radius: 15px;
        .calendar_header {
          display: flex;
          justify-content: space-between;
          font-size: 1.3rem;

          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
        .calendar {
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          th,
          td {
            width: 14.28%; /* Разделение на 7 колонок */
            text-align: center;
            padding: 0.8rem;
            .date {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .time {
                font-size: 0.5rem;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
  .main_rout-block {
    display: flex;
    padding: 6rem 0;
    padding-left: 6rem;
    .rout-block_description {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: 3rem;
      h3 {
        @include for-title;
        color: $primary-color;
      }
      ul li {
        @include for-text;
      }
      ul li::marker {
        color: $subtitle-color;
        font-size: 1.8rem;
      }
    }
    .rout-block_carousel {
      .carousel {
        width: 40rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        .wrapper {
          display: flex;
          gap: 0.8rem;
          animation: scroll 30s linear infinite;
          img {
            width: 20rem;
            height: 30rem;
            object-fit: cover;
            border-radius: 25px;
          }
        }
      }
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-160rem);
        }
      }
    }
  }
  .main_extra-costs {
    padding: 6rem;
    .extra-costs_title {
      @include for-title;
      color: $primary-color;
      padding-bottom: 5rem;
      padding-left: 1.5rem;
    }
    .extra-costs_cards {
      display: flex;
      justify-content: space-around;
      .extra-costs_card-wrapper {
        position: relative;
        .icon-background {
          @include icon-background;
        }
        .ticket-card {
          @include ticket-card;
        }

        .content {
          display: flex;
          justify-content: center;
          text-align: center;
          padding: 0.5rem 0;
          .icon {
            height: 1.8rem;
            width: 2rem;
          }
          .text {
            .price {
              @include for-title;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .main_important-info {
    padding: 6rem;
    h4 {
      font-weight: 700;
      font-size: 1.29rem;
      color: $primary-color;
    }
    .important-info_title {
      @include for-title;
      color: $primary-color;
      padding-bottom: 5rem;
      padding-left: 1.5rem;
    }
    .important-info_block {
      height: 20rem;
      display: flex;
      .important-info_doc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .doc_title {
          h4 {
            color: $main-color;
          }
        }
        .doc_passport {
          display: flex;
          .doc_content {
            padding: 0 3rem;
            p {
              padding-top: 2rem;
            }
          }
        }
      }
    }
    .import-info_frames {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .import-info_frame {
        width: 25rem;
        height: 9rem;
        background-color: $background-color;
        text-align: start;
        padding: 2rem 1rem;
      }
    }
  }
  .main_gallery-block {
    .gallery-block_title {
      display: flex;
      justify-content: space-between;
      padding: 6rem;
      h3 {
        @include for-title;
        color: $primary-color;
      }
      a {
        color: $main-color;
      }
    }
    .gallery_img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 2fr 1fr 1fr;
      gap: 0.8rem;
      padding-left: 1rem;
      padding-right: 1rem;
      .item1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }

      .item2 {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
      }

      .item3 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }

      .item4 {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
      }

      .item5 {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
      }

      .item6 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      .item7 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }

      .item8 {
        grid-column: 4 / 6;
        grid-row: 2 / 4;
      }
    }
  }
  .main_comment-block {
    padding: 6rem 0;
    .comment-block_title {
      display: flex;
      justify-content: space-between;
      padding: 6rem;
      h3 {
        @include for-title;
        color: $primary-color;
      }
      a {
        color: $main-color;
      }
    }
    .comment_carousel {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding: 1rem;
      .carousel {
        overflow: hidden;
        position: relative;
        .wrapper {
          display: flex;
          animation: scroll 30s linear infinite;
          gap: 1rem;
          .comment_item {
            max-width: 50rem;
            max-height: 20rem;
            flex-shrink: 0;
            display: flex;
            align-items: self-start;
            padding: 1.5rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: $button-border-color;
            img {
              width: 30%;
              height: 100%;
              margin: 1 rem;
            }
            .text {
              width: 30rem;
              padding-left: 2rem;
              h4 {
                font-weight: 700;
                font-size: 1.2;
                margin: 0;
              }
              p {
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-120rem);
        }
      }
    }
  }
}
footer {
  width: 100%;
  height: 173px;
  background-color: #ededed;
}

.footer-container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.logoFooter {
  grid-column: 1/2;
  grid-row: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 3rem;
}

nav.footer-column {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: start;
}

#contactsFooter {
  grid-column: 3/4;
  grid-row: 1/3;
}

.footer-items {
  list-style: none;
  padding-left: 10px;
}

.footer-item {
  margin-top: 7px;
}

.footer-column a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.imgContacts {
  padding-right: 5px;
}

#mediaFooter {
  justify-self: start;
  align-self: end;
  padding-bottom: 5px;
}

.media-container {
  height: 2.5rem;
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: start;
  align-self: start;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  header {
    height: 85.33rem;
    padding: 0 3rem;
    .header-container {
      margin-bottom: 25rem;
    }

    .navHeader .list {
      display: none;
    }
    .burger-menu {
      display: block;
    }
  }
  main {
    .main_description {
      flex-wrap: wrap;
      .main_description_excursion {
        width: 100%;
        padding-bottom: 6rem;
      }
    }
    .main_calendary-block {
      .calendary-block_calendar {
        .calendar_title {
          background-color: white;
          padding: 0.5rem;
          border-radius: 10px;
        }
      }
    }
    .main_rout-block {
      flex-direction: column;
      .rout-block_description {
        h3,
        h4 {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
      .rout-block_carousel {
        margin-top: 3rem;
        .carousel {
          width: 55rem;
        }
      }
    }
    .main_extra-costs {
      .extra-costs_cards {
        flex-wrap: wrap;
        gap: 1.5rem;
      }
    }
    .main_important-info {
      .important-info_block {
        flex-direction: column;
        margin-bottom: 2rem;
        .important-info_doc {
          .doc_title {
            margin-bottom: 2rem;
          }
        }
      }
      .import-info_frames {
        flex-direction: row;
        margin-top: 2rem;
      }
    }
    .main_gallery-block {
      .gallery_img {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        .item2 {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
        .item3 {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
        .item4 {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
        }
        .item8 {
          grid-column: 2 / 4;
          grid-row: 2 / 3;
        }
        .item5 {
          grid-column: 3 / 4;
          grid-row: 3 / 5;
        }
        .item6 {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
        }
        .item7 {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
        }
        .item1 {
          grid-column: 1 / 3;
          grid-row: 4 / 5;
        }
      }
    }
  }
  .footer-column a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 440px) {
  html {
    font-size: 11px;
  }
  header {
    .header-container {
      padding: 40px 10px;
      margin-bottom: 18rem;
      .logoHeader {
        padding-left: 0;
      }
    }
    .header_title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      h4 {
        padding-left: 10px;
        padding-bottom: 10px;
      }
      h1 {
        font-size: 3.1rem;
        padding-left: 10px;
      }
    }
    .header-container2 {
      padding: 60px 10px;
    }
  }
  main {
    .main_description {
      justify-content: space-around;
      .main_description_card-wrapper {
        margin: 1rem 0;
      }
    }
    .main_calendary-block {
      padding-right: 0;
      justify-content: center;
      .calendary-block_calendar {
        align-items: center;
        .calendar_wrapper {
          width: 35rem;
        }
      }
    }
    .main_rout-block {
      flex-direction: column;
      .rout-block_carousel {
        .carousel {
          width: 30rem;
        }
      }
    }
    .main_important-info {
      .important-info_block {
        height: auto;
        .important-info_doc {
          .doc_passport {
            align-items: flex-start;
            padding: 1rem 0;
          }
        }
        .import-info_frames {
          flex-direction: column;

          .import-info_frame {
            text-align: center;
            width: 100%;
            margin: 0.5rem 0;
          }
        }
      }
    }
    .main_gallery-block {
      .gallery-block_title {
        align-items: baseline;
      }
      .gallery_img {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 2fr 1fr 1fr 2fr;
        .item2 {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }
        .item3 {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }
        .item5 {
          grid-column: 2 / 3;
          grid-row: 4 / 6;
        }
        .item4 {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
        .item6 {
          grid-column: 1 / 2;
          grid-row: 4 / 5;
        }
        .item7 {
          grid-column: 1 / 2;
          grid-row: 5 / 6;
        }
        .item8 {
          grid-column: 1 / 3;
          grid-row: 6 / 7;
        }
        .item1 {
          grid-column: 1 / 3;
          grid-row: 3 / 4;
        }
      }
    }
    .main_comment-block {
      .comment-block_title {
        align-items: baseline;
      }
      .comment_carousel {
        .carousel {
          .wrapper {
            .comment_item {
              max-width: fit-content;
              max-height: fit-content;
              flex-direction: column;
              flex-shrink: 1;

              .text {
                width: 15rem;
                padding-left: 0;
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
  footer {
    min-height: 400px;
    max-height: 415px;

    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 45% 10% 30% auto;

      .logoFooter {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 0;
      }

      .media-container {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-self: center;
      }

      nav.footer-column {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: end;
      }

      #contactsFooter {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        justify-self: start;
        align-self: end;
      }

      #mediaFooter {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        justify-self: start;
        align-self: start;
      }

      .footer-items {
        margin: 0;
      }
    }
  }
}

.footerForm {
  margin-top: 160px;
  width: 100%;
  height: 640px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.imgForm {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footerFormTour {
  grid-column: 2/3;
  grid-row: 1/2;
}

.footerFormButton {
  display: flex;
  justify-content: flex-start;
}

.footerFormTour h4 {
  padding-top: 130px;
  padding-bottom: 30px;
}

.form-top {
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input,
  select {
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: 4rem;
    min-height: 3rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    max-width: 235px;
    min-width: 224px;
  }
}

input:focus,
select:focus {
  outline: 0;
}

input {
  padding-left: 1rem;
}

.form-date {
  input[type="date"]::-webkit-calendar-picker-indicator {
    box-sizing: border-box;
    background: url(../images/all_tours/calendar_icon.svg);
    background-size: 1.3rem;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
  }

  input[type="date" i] {
    padding-inline-start: 0.2rem;
    padding-inline-end: 0.2rem;
  }
}

.form-people {
  select {
    appearance: none;
    background: url(../images/all_tours/people_icon.svg);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-left: 1rem;
  }
}

.form-child {
  select {
    appearance: none;
    background: url(../images/all_tours/people_icon.svg);
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-left: 1rem;
  }
}

.button-top {
  @include button(
    $button-text-color,
    $button-color,
    $secondary-font-weight,
    $main-font-size
  );

  max-height: 4rem;
  min-height: 3rem;
  font-size: 1.2rem;
  max-width: 225px;
  min-width: 14rem;
  border-radius: 10px;
}
