@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

header {
  background-image: url(../images/tour_overview/изобр.svg);
}
header .header_title h4 {
  font-weight: 700;
  font-size: 1.71rem;
  color: #ffc700;
}
header .header_title h1 {
  font-weight: 700;
  font-size: 3.43rem;
  color: white;
}
header .header_btn {
  background-image: linear-gradient(to right, #0499dd, #17c1bc);
  border: none;
  color: white;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
header .header_btn:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
header .header_btn a {
  text-decoration: none;
  color: white;
}
header .header_btn a:hover {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
header .header_btn a {
  text-decoration: none;
}

main .main_description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 1.2rem;
}
main .main_description .main_description_excursion {
  width: 30%;
}
main .main_description .main_description_excursion h3 {
  font-weight: 700;
  font-size: 1.71rem;
  color: #0499dd;
  padding-bottom: 1rem;
}
main .main_description .main_description_excursion p {
  font-weight: 500;
  font-size: 1rem;
}
main .main_description .main_description_card-wrapper {
  position: relative;
}
main .main_description .main_description_card-wrapper .icon-background {
  background-color: #ffc700;
  position: absolute;
  top: -1.1rem;
  left: -1.1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  z-index: 0;
}
main .main_description .main_description_card-wrapper .ticket-card {
  width: 12rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0.71rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
main .main_description .main_description_card-wrapper .content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}
main .main_description .main_description_card-wrapper .content .icon {
  height: 1.8rem;
  width: 2rem;
}
main .main_description .main_description_card-wrapper .content .text .price {
  font-weight: 700;
  font-size: 1.71rem;
  color: #0499dd;
}
main .main_calendary-block {
  display: flex;
  padding: 3rem 0;
}
main .main_calendary-block .calendary-block_img {
  width: 49%;
  height: 100%;
}
main .main_calendary-block .calendary-block_calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
main .main_calendary-block .calendary-block_calendar .calendar_title {
  font-weight: 700;
  font-size: 1.71rem;
  font-size: 1.5rem;
  color: #0499dd;
  padding-bottom: 5rem;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper {
  width: 41rem;
  height: 33.57rem;
  background-color: #ededed;
  padding: 2rem;
  border-radius: 15px;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar_header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar_header a {
  text-decoration: none;
  color: #0499dd;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar th,
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar td {
  width: 14.28%; /* Разделение на 7 колонок */
  text-align: center;
  padding: 0.8rem;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar th .date,
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar td .date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar th .date .time,
main .main_calendary-block .calendary-block_calendar .calendar_wrapper .calendar td .date .time {
  font-size: 0.6rem;
  color: #0499dd;
}
main .main_rout-block {
  display: flex;
  padding: 3rem 0;
  padding-left: 6rem;
}
main .main_rout-block .rout-block_description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .main_rout-block .rout-block_carousel .carousel {
  width: 40rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main .main_rout-block .rout-block_carousel .carousel .wrapper {
  display: flex;
  gap: 0.8rem;
  animation: scroll 30s linear infinite;
}
main .main_rout-block .rout-block_carousel .carousel .wrapper img {
  width: 40rem;
  height: 47rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-376rem); /* Ширина 8 изображений по 240px */
  }
}/*# sourceMappingURL=tour_overview.css.map */

footer {
  width: 100%;
  height: 173px;
  background-color: #EDEDED;
}

.footer-container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.logoFooter {
  grid-column: 1/2;
  grid-row: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 3rem;
}

nav.footer-column {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: start;
}

#contactsFooter {
  grid-column: 3/4;
  grid-row: 1/3;
}

.footer-items {
  list-style: none;
  padding-left: 10px;
}

.footer-item {
  margin-top: 7px;
}

.footer-column a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.imgContacts {
  padding-right: 5px;
}

#mediaFooter {
  justify-self: start;
  align-self: end;
  padding-bottom: 5px;
}

.media-container {
  height: 2.5rem;
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: start;
  align-self: start;
  display: flex;
  align-items: center;
}